body {
  /* cursor: none; */
}

/* a {
  cursor: pointer;
} */

#realCursor {
  --cursorSize: 30px;
  position: fixed;
  width: var(--cursorSize);
  height: var(--cursorSize);
  border-radius: 50%;
  background-color: hsla(0, 0%, 50%, 0.5);
  left: calc(var(--cursorSize)*(-0.5));
  top: calc(var(--cursorSize)*(-0.5));
  z-index: 2147483646;
}

#niseCursor {
  --cursorSize: 40px;
  position: fixed;
  width: var(--cursorSize);
  height: var(--cursorSize);
  /* border-radius: 50%; */
  background-color: hsla(0, 0%, 50%, 0.5);
  left: calc(var(--cursorSize)*(-0.5));
  top: calc(var(--cursorSize)*(-0.5));
  z-index: 2147483647;

  /* テスト用 */
  background-color: hsla(200, 100%, 50%, 1.0);
  filter: drop-shadow(3px 3px 5px hsla(0, 0%, 10%, 1.0));

  /* 形 */
  clip-path: polygon(50% 50%, 100% 75%, 75% 100%);
}

#controlArea {
  --margin: 30px;
  --AreaW: 25%;
  --AreaH: 25%;
  position: fixed;
  width: var(--AreaW);
  height: var(--AreaH);
  /* border-radius: 50%; */
  background-color: hsla(0, 0%, 50%, 0.25);
  right: var(--margin);
  bottom: var(--margin);
  z-index: 2147483645;

  cursor: move;

}
