html {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsl(225, 10%, 85%);

}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;

  padding: 50px;

  border-radius: 5px;
  background-color: hsl(225, 10%, 85%);
  box-shadow:
    inset 10px 10px 20px hsl(219, 4%, 72%),
    inset -10px -10px 20px hsl(226, 81%, 97%);

}


#title {
  font-size: 40px;
  margin-top: 0;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.propBox {
  width: 250px;
  height: 130px;
  padding: 5px 20px;
  box-sizing: border-box;
  margin-top: 20px;

  border-radius: 15px;
  background-color: hsl(225, 10%, 85%);
  box-shadow:
    10px 10px 20px hsl(219, 4%, 72%),
    -10px -10px 20px hsl(226, 81%, 97%);
}

.propBox:last-child{
  margin-bottom: 20px;
}

.propBox .propName {
}

.propBox .propInput {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.propBox .propInput .propValue{
  font-size: 25px;
  margin-right: 40px;
}

#actions_setting {
  padding: 5px 20px;

  width: 450px;
  height: 400px;
  position: relative;

  border-radius: 15px;
  background-color: hsl(225, 10%, 85%);
  box-shadow:
    10px 10px 20px hsl(219, 4%, 72%),
    -10px -10px 20px hsl(226, 81%, 97%);

}

#actions_setting #screen {
  width: 400px;
  height: 280px;
  background-color: hsl(225, 10%, 85%);
  /* border: 1px solid #000; */
  /* border-right-color: #ff00ff; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;

  padding: 20px;
  border-radius: 10px;

  box-shadow:
    inset 5px 5px 10px hsl(219, 4%, 72%),
    inset -5px -5px 10px hsl(226, 81%, 97%);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.actionBox{
  /* width: 250px;
  height: 130px; */
  padding: 5px 5px;
  box-sizing: border-box;

  border-radius: 15px;
  background-color: hsl(225, 10%, 85%);
  box-shadow:
    5px 5px 10px hsl(219, 4%, 72%),
    -5px -5px 10px hsl(226, 81%, 97%);
}

.actionBox input {
  width: 50%;
}

.actionBox#topAction {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.actionBox#bottomAction {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.actionBox#leftAction {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.actionBox#rightAction {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
